<h1>Shorten a New URL</h1>

<%= form_for @short_url do |f| %>
	<% if @short_url.errors.any? %>
		<ul>
			<% @short_url.errors.full_messages.each do |msg| %>
				<li><%= msg %></li>
			<% end %>
		</ul>
	<% end %>

	<p>
		<%= f.label :long_url, "URL" %>
		<%= f.text_field :long_url, value: "http://", size: 50  %>
	</p>

	<p><%= f.submit "Shorten" %></p>
<% end %>